<div style="line-height: 45px; color: white; background-color: #527EE8; width: 100%; line-height: 50px; height: 50px;">
    <div class="col-xs-12 center">
        <div class="tabbable">
            <ul class="nav nav-tabs center" style="border-bottom: none; margin-top: 10px; width: 162px; border: 1px solid white;">
                <li class="active" style="width: 50%">
                    <a href="#addcustomization" data-toggle="tab">定制信息</a>
                </li>
                <li style="width: 50%">
                    <a href="#addKey" data-toggle="tab">关键字</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="tab-content">
    <div class="tab-pane active" id="addcustomization">
        <div style="padding-left:5px;padding-right:5px">
            <div class="input-group col-xs-12" ng-click="showSearchForm()" style="border-radius: 4px; border: none; height: 30px; background-color: white; margin-top: 5px; margin-bottom: 5px;">
                <div class="center search-div" style="margin-top: 4px; color: #3f3f3f;">
                    <img class="img-responsive" style="padding: 0 0 0 0; display: inline; width: 18px; margin-bottom: 3px;" src="static/img/首页搜索_icon.png" />
                    <span>搜索</span>
                </div>
            </div>
            <!--<input class="input-group col-xs-12" placeholder="搜索" type="text" ng-click="showSearchForm()" style="    border-radius: 4px;border: none;height: 30px;"/>-->
        </div>
        <div style="background-color: white; color: #3f3f3f; text-align: left; padding-top: 10px">
            <div style="padding-left: 15px">
                <p>
                    海南省试点向企业免费发放“创新劵”
                </p>
                <p>
                    2016-11-2
                </p>
            </div>
            <div style="background-color: #d9dde1; height: 1px; width: 100%; margin-bottom: 10px;"></div>
            <div style="padding-left: 15px">
                <p>
                    海南省试点向企业免费发放“创新劵”
                </p>
                <p>
                    2016-11-2
                </p>
            </div>
        </div>
    </div>
    <div class="tab-pane" id="addKey">
        <!--<div class="container">
            <div class="input-group col-xs-12" ng-click="showSearchForm()" style="border-radius: 4px; border: none; height: 30px; background-color: white; margin-top: 5px; margin-bottom: 5px;">
                <div class="center search-div" style="margin-top: 4px; color: #3f3f3f;">
                    <img class="img-responsive" style="padding: 0 0 0 0; display: inline; width: 18px; margin-bottom: 3px;" src="static/img/首页搜索_icon.png" />
                    <span>搜索</span>
                </div>
            </div>
        </div>-->
        <div style="background-color: white; color: #3f3f3f; text-align: left; padding-top: 10px">
            <div style="padding-left: 15px">
                <p>
                    海南省试点向企业免费发放“创新劵”
                </p>
                <p>
                    2016-11-2
                </p>
            </div>
            <div style="background-color: #d9dde1; height: 5px; width: 100%; margin-bottom: 10px;"></div>
            <div style="padding-left: 15px">
                <p>
                    海南省试点向企业免费发放“创新劵”
                </p>
                <p>
                    2016-11-2
                </p>
            </div>
            <div style="background-color: #d9dde1; height: 5px; width: 100%; margin-bottom: 10px;"></div>
            <div class="col-xs-12" style="margin-top:50px">
                <div class="center">
            <button class="btn center" style="width:90%;background-color:#527EE8;color:white">+添加</button>
                    </div>
                </div>
        </div>
    </div>
</div>
